<ion-header>
  <ion-toolbar color="primary">
    <ion-title>gallery photo</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button> </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label> Thème: </ion-label>
        <ion-input type="text" [(ngModel)]="keyword"></ion-input>
        <ion-button (click)="onLoadImage()">OK</ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-list *ngIf="imageData">

    <ion-card *ngFor="let im of imageData">
      <ion-card-header>
        <ion-item>
          <ion-avatar slot="start">
            <ion-img [src]="im.userImageURL"></ion-img>
          </ion-avatar>
          <ion-label>{{im.user}}</ion-label>
        </ion-item>

      </ion-card-header>
      <ion-card-content>
        <ion-img [src]="im.previewURL"></ion-img>
      </ion-card-content>
      <ion-card-content>
        <ion-row>
          <ion-col>
            <ion-button fill="outline" size="small">
              <ion-icon name="thumbs-up"></ion-icon>
              <ion-label>{{im.likes}}</ion-label>
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button fill="outline" size="small">
              <ion-icon name="text"></ion-icon>
              <ion-label>{{im.comments}}</ion-label>
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button fill="outline" size="small">
              <ion-icon name="download"></ion-icon>
              <ion-label>{{im.downloads}}</ion-label>
            </ion-button>
          </ion-col>

        </ion-row>
      </ion-card-content>
    </ion-card>

  </ion-list>


  <ion-infinite-scroll (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Chargement des Données...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>


<!-- 15374904-1a42da5c6c59c64699e588135 -->