<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button >  </ion-menu-button>
    </ion-buttons>
    <ion-title >
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <ion-card>
   <ion-card-header>
  
    <ion-card-title>
      Mammar idir est foutus
    </ion-card-title>
   </ion-card-header>

<ion-card-content>
  <ion-list>
<ion-item><strong>{{contact.nom}}</strong></ion-item>
<ion-item>{{contact.email}}</ion-item>
<ion-item>{{contact.tel}}</ion-item>
  </ion-list>
<!-- <ion-img src="{{contact.logo}}"></ion-img> -->
<ion-img [src]="contact.logo"></ion-img>
<ion-img [src]="contact.image"></ion-img>
</ion-card-content>

 </ion-card>

 
</ion-content>
